* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 20px;
  font-weight: 300;
}

.container {
  width: 1200px;
  max-width: calc(100% - 20px);
  margin: 0 auto;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.container__header {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 30px;
  height: 100px;
  padding: 20px;
}

.container__header__delivery {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 14px;
  color: grey;
}
h3:hover {
  color: #ef4f5f;
  font-size: 22px;
  font-weight: 500;
}

.circle-image {
  display: inline-block;
  margin-left: 55px;
  height: 80px;
  width: 80px;
  border-radius: 100%;
  text-align: center;
}

[tabindex]:focus {
  background-color: wheat;
  color: #ef4f5f;
}
.circle-image img {
  width: 55%;
  height: 100%;
  object-fit: contain;
}

hr.solid {
  margin-bottom: 8px;
  border-top: 3px solid #bbb;
}
.container__menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.container__menu > h2 {
  position: relative;
  right: 430px;
  color: #1c1c1c;
  font-size: 32px;
  margin: 0 16px 0 0;
  font-weight: 500;
  float: left;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 400px;
  height: 350px;
  position: relative;
  border-radius: 25px;
  padding: 8px;
  cursor: pointer;
}

.card > p {
  margin: 0px 0px 60px 0px;
  font-size: 16px;
  padding: 0px 9.6px;
  background: #256fef;
  color: #ffffff;
  font-weight: 400;
  width: max-content;
  border-radius: 0px 3.2px 3.2px 0px;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: absolute;
  bottom: 100px;
  max-width: calc(100% - 38.4px);
}

.card > img {
  width: 100%;
  height: 200px;
  border-radius: 16px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.cardContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.cardContent > span > p {
  margin-top: 10px;
  color: grey;
  font-size: 16px;
}

b {
  line-height: 1.2;
  font-weight: 400;
  text-align: left;
  font-size: 20px;
  margin: 12.8px 0px 9.6px;
  max-width: 80%;
  color: #1c1c1c;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-transform: capitalize;
}

.row1,
.row2,
.row3,
.row4,
.row5,
.row6,
.row7 {
  display: flex;
  flex-direction: row;
  gap: 20px;
  height: 350px;
}

.safety {
  display: flex;
  width: 100%;
  margin-top: 20px;
  font-size: 12px;
  color: grey;
  line-height: 1.2;
  font-weight: 200;
  gap: 10px;
}

.safety > img {
  position: relative;
  max-width: 100%;
  width: 76px;
  height: 28px;
  overflow: hidden;
}
